body{
    background-color: black;
}


#quizBox{
    color: white;
    text-align: center;
}
#quizTitle{
    font-family:"Anonymous Pro", monospace;
    color: white;
    text-align: center;
}


#answerInput{
    height: 200px;
    width: 500px;
    background-color: black;
    border: 2px solid rgb(7, 143, 23);
    color: white;
    font-family: "Anonymous Pro", monospace;
    margin-top: 30px; 
    resize: none; 
    outline: none; 
    padding: 10px;
}
#questionText{
    color: rgb(255, 255, 255);
    font-family:"Anonymous Pro", monospace;
    font-size: 40px;
}

#nextBtn{
    background-color: black;
    border: 2px solid rgb(7, 143, 23);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 60px;
    font-family: "Anonymous Pro", monospace;
    margin-left: 100px;
    margin-top: 10px; 
}

#finishMessage,
#resultMessage {
    margin-top: 30px;
    color: rgb(7,143,23);
    font-family: "Anonymous Pro", monospace;
    font-size: 50px;
    text-align: center;
}