
pre, code {
    font-family: "Anonymous Pro", monospace;
    background: transparent;
}

body {
    margin: 0;
    background-color: black;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#container {
    height: 100vh;          
    width: 100vw;           
    display: flex;
    justify-content: center; 
    align-items: center;     
}

#container img {
    display: block;
}
button {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 50px;
    color: black;
    font-family: "Anonymous Pro", monospace;
    background:transparent;
    backdrop-filter: blur(5px);
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    transition: 0.7s;
    border: 2px solid white;
    
    
}

button:hover{
    background-color: white;
    color:black;
    border-color: black;
    box-shadow: 0 0 60px rgb(2, 127, 2);
   
}
img {
    display: block;
}

#name{
    color:rgb(255, 255, 255);
    font-family: "Anonymous Pro", monospace;
    font-size: 40px;  
    position: flex;
    margin-left: 800px;
    margin-top:15px;
}

.showBackground {
    position: relative;
    background-image: url("lain.png");
    background-size: 400px 957px;
    background-repeat: no-repeat;
    background-position: 1518px 1px;
}

.showBackground::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("other.png");
    background-size: 470px 470px;
    background-repeat: no-repeat;
    background-position: 8px 0px;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.285));
    }
    100% {
        filter: drop-shadow(0 0 15px rgb(65, 255, 58));
    }
}
#infobox{

    color: rgb(255, 255, 255);
    font-family: "Anonymous Pro", monospace;
    font-size:15px;
    margin-left: 330px;
    margin-top:100px;
}

#musicPlayer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 260px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 1px;
    color: white;
    font-family: "Anonymous Pro", monospace;
    z-index: 999;
}
#musicPlayer {
    display: none;
}

#musicPlayer.visible {
    display: block;
}
#musicPlayer {
    border: 2px solid #108b0c;
}
#songTitle {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#musicPlayer button {
    position: static;        
    transform: none;         
    width: auto;
    height: auto;
    padding: 6px 10px;

    background: transparent;
    border: 1px solid #108b0c;
    color: white;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.3s;
}

#musicPlayer button:hover {

    color: #108b0c;
}

#progressBar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #108b0c;
    border-radius: 10px;
    outline: none;
}

#progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #41ff3a;
    box-shadow: 0 0 8px #41ff3a;
    margin-top: -3px;
    transition: 0.2s;
}

#progressBar::-webkit-slider-thumb:hover {
    box-shadow: 0 0 15px #41ff3a;
}

#quizBtn {
    font-family: Orbitron, sans-serif;
    font-size: 16px;
    background: black;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 350px;
}

#quizBtn:hover {
    background: #41ff3a;
    color: black;
    box-shadow: 0 0 60px rgb(0, 0, 0);
    border-color: black;
}
#quiztitle{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    margin-top: -75px;
}
